.waline-tips{padding:10px;box-sizing:border-box;border:1px solid #e2e2e2;border-left:5px solid #fff000;background:#ffffc0;color:#333;margin:1rem auto}
.page .waline-wrapper{max-width:740px;margin:0 auto;padding:2rem 2.5rem}@media (max-width:959px){.page .waline-wrapper{padding:2rem}}@media (max-width:419px){.page .waline-wrapper{padding:1.5rem}}
